.reveal .slides {
  max-width: none;
}

.jeopardy-board {
  display: flex;
  gap: 0px;

  justify-content: center;
  align-items: flex-start;
  width: 100%;
  margin: 0 auto;
}

.jeopardy-column {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;

  min-width: 235px;
  max-width: 235px;
  font-size: 0.8em;
}

.jeopardy-column .jeopardy-category {
  height: 3.2em;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.jeopardy-final {
  padding-top: 30px;
}

.clue-link {
  font-size: 1.3em;
  text-decoration: none;
}

.clue-used {
  opacity: 25%;
}

.jeopardy-button {
  font-size: 0.8em;
  cursor: pointer;
  transition: all 0.2s ease;
  margin-left: auto;
}

.jeopardy-button:hover {
  opacity: 60%;
}

.jeopardy-button:active {
  opacity: 100%;
}
